@model IdentityServer3.Core.ViewModels.ConsentViewModel

@{
   Layout = "Layout";
}

<div class="row page-header">
    <div class="col-sm-10">
        @if (Model.ClientLogoUrl != null)
        {
        <div class="client-logo" ng-show="model.clientLogoUrl">
            <img src="@Model.ClientLogoUrl">
        </div>
        }

        <h1>
            @Model.ClientName
            <small>is requesting your permission</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        @if (Model.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <strong>Error:</strong>
                @Model.ErrorMessage
            </div>
        }

        <form name="form" method="post" action="@Model.ConsentUrl" class="consent-form">

            <input type="hidden" name="@Model.AntiForgery.Name" value="@Model.AntiForgery.Value"/>

            <div>Uncheck the permissions you do not wish to grant.</div>

            @if (Model.IdentityScopes != null && Model.IdentityScopes.Any())
            {
                <div class="panel panel-default consent-buttons">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        Personal Information
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <li class="list-group-item">
                                <label>
                                    <input class="consent-scopecheck" type="checkbox" name="scopes" id="scopes_@scope.Name" value="@scope.Name" disabled="@scope.Required"/>
                                    <strong>@scope.DisplayName</strong>
                                    <span ng-show="scope.emphasize" class="glyphicon glyphicon-exclamation-sign"></span>
                                </label>

                                @if (scope.Required)
                                {
                                    <span><em>(required)</em></span>
                                }
                                @if (scope.Description != null)
                                {
                                    <div class="consent-description">
                                        <label for="scopes_@scope.Name">@scope.Description</label>
                                    </div>
                                }
                            </li>}
                    </ul>
                </div>
                }

            @if (Model.AllowRememberConsent)
            {
                <div class="consent-remember">
                    <label>
                        <input class="consent-scopecheck" type="checkbox" name="RememberConsent" value="true"/>
                        <strong>Remember My Decision</strong>
                    </label>
                </div>
            }

            <div class="consent-buttons">
                <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                <button name="button" value="no" class="btn">No, Do Not Allow</button>
                @if (Model.ClientUrl != null)
                {
                    <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </form>
        @if (Model.CurrentUser != null)
        {
            <ul>
                <li><a href="@Model.LogoutUrl">Logout</a></li>
                @if (Model.LoginWithDifferentAccountUrl != null)
                {
                    <li class="divider"></li>
                    <li><a href="@Model.LoginWithDifferentAccountUrl">Login With Different Account</a></li>
                }
            </ul>
        }
    </div>
</div>
